#info {
	margin: auto;
	width: 80%;
	overflow: hidden;
}

#review_count {
	float: left;
}
#accuracy {
	float: right;
}



main {
	margin: auto;
	background-color: antiquewhite;
	width: 80%;
	min-height: auto;
	height: 70vh;

}

.card {
	text-align: center;
	margin: 0;
	padding: 10px;
}

#question {
	
}

#answer {
	visibility: hidden;
}

#show_button {
	display: block;
	margin-top: 10px;
  margin-left: auto;
  margin-right: auto;
  min-width: 100px;
  width: 10%;
}

#answer_box {
	visibility: hidden;
	display: block;
	margin-top: 10px;
  margin-left: auto;
  margin-right: auto;
  min-width: 100px;
  width: 10%;
}

.answer_button {
	width: 45%;
}

#edit_button {
	float: right;
}