
body{	
	background-color: rgba(127, 255, 213,0.3);
}


#info {
	margin: auto;
	width: 80%;
	overflow: hidden;
}

#review_count {
	float: left;
}
#accuracy {
	float: right;
}

main {
	margin: auto;
	background-color: #ffddcc;
	width: 80%;
	min-height: auto;
	height: 70vh;

}

.flashcard {
	text-align: center;
	margin: 0;
	padding: 10px;
}

#question {
	
}

#answer {
	visibility: hidden;
}


#user_input {
	position: relative;
  margin: 10px auto 10px auto;
  width: 150px;
  height: 100px;
}

#show_button {
	display: block;
  margin-left: auto;
  margin-right: auto;
  min-width: 100px;
}

.answer_button {
	width: 45%;
}
#wrong_button {
	float: left;
}
#right_button {
	float: right;
}

#edit_button {
	position: absolute;
	left: 25%;
  bottom: 0;
}