#article-page{
    height: 100vh;
}

.toast{
    z-index: 2000;
    position: absolute;
    top: 100px;
    right: 10px;
    width: 400px;
    height: 100px;
    font-size: 1.3em;
}

.term-card:hover{
    cursor: pointer;
}

.toast-header{
    font-size: 1.3em;
}

.toast-body{
    font-size: 1.3em;
}

.delete-flashcard{
    margin: 10px;
    font-size: 1.2em;
    color: gray;
}

.delete-flashcard:hover{
    cursor: pointer;
    color: rgb(243, 107, 107);
}