.Backgroundimg-body {
    background-color: rgba(127, 255, 213, 0.3);
    min-height: 50em;

}

.search-filters{
    width: 100%;
}

.dropdown{
    width: 100% !important; 
}

#dropdownMenuButton{
    width: 100%;
}

.BigHead {
    text-align: center;
    font-family: "Arial Black", Gadget, sans-serif;

}

.MenuPosition {
    margin-top: 40px;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}

#articles {
    height: 30em;
    background-color: #ffddcc;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 0px;
    overflow-y: auto;
}

#Left-Resources {
    float: left;
    height: 30em;
    margin-top: 50px;
    margin-left: 100px;
}

#Right-Resources {
    margin-top: 50px;
    background-color: #ffddcc;
    width: 25%;
    float: right;
    height: 30em;
}