.Backgroundimg-body {
 background-image: url("background.jpg");
 background-size: cover;
}


.BigHead{
	text-align: center;
	font-family: "Arial Black", Gadget, sans-serif;

}

.MenuPosition{
	top: 10%;
	  margin-left: auto;
	  margin-right: auto;
	  margin-top: 40px;
	  width: 30%;

}

#Dropdown1-div{
	float: left;
}
#Dropdown2-div{
	float: left;
}

.Output-div{
	width: 30%;
	clear: both;
	margin-left: auto;
	margin-right: auto;
	margin-top: 200px;
}